<div class="col-md-2"></div>
  <div class="col-md-8">
      
      <%= form_for @genre, :html => { :class => "form-horizontal genre" } do |f| %>
      
          <% if @genre.errors.any? %>
          <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h3>
            </div>
            <div class="panel-body">
              <ul>
              <% @genre.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
          <%= error_span(@genre[:name]) %>
        </div>
        <div class="control-group">
          <label>
            <%= f.check_box :active %>
            <%= f.label :active %>
          </label>
          <%= error_span(@genre[:active]) %>
        </div>
      
      
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  genres_path, :class => 'btn btn-default' %>
      
      <% end %>
    </div>
  <div class="col-md-2">
