<% if !user_signed_in? %>
	<div class="jumbotron">
		<h2>Add Games, Write / Read reviews, Comment!</h2>
		<br>
		<p><%= link_to "Sign up to Add Games and Reviews", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</div>
<% end %>


<% @games.in_groups_of(4, false).each do |group|%>
	<div class="row">
		<% group.each do |game| %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<%= link_to (image_tag game.image.url(:medium), class: 'image'), game %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>