<div class="container">
  <div class="col-md-2"></div>
    <div class="col-md-8">

    <%= form_for @game, :html => { :class => "form-horizontal game" } do |f| %>
    
        <% if @game.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
            <% @game.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    
      <div class="control-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
        <%= error_span(@game[:title]) %>
      </div>
      <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'form-control', :rows => 6 %>
        </div>
        <%= error_span(@game[:description]) %>
      </div>
      <div class="control-group">
        <%= f.label :genre_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:genre_id, Genre.all.collect {|p| [ p.name, p.id ] }, {}, class: 'form-control') %>
        </div>
        <%= error_span(@game[:genre_id]) %>
      </div>
      <div class="control-group">
        <%= f.label :rating, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :rating, :class => 'form-control' %>
        </div>
        <%= error_span(@game[:rating]) %>
      </div>
      <br>
      <% unless @game.new_record? %>
        <%= image_tag @game.image.url(:medium) %>
      <% end %>
      <div class="control-group">
        <%= f.label :image, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :image %>
        </div>
        <%= error_span(@game[:image]) %>
      </div>
      <br>
      <div class="control-group">
          <label>
            <%= f.check_box :for_sale %>
            <%= f.label :for_sale %>
          </label>
          <%= error_span(@game[:for_sale]) %>
        </div>
         <br>
         <div class="control-group">
          <label>
            <%= f.check_box :for_rent %>
            <%= f.label :for_rent %>
          </label>
          <%= error_span(@game[:for_rent]) %>
        </div>
         <br>
         <div class="control-group">
          <label>
            <%= f.check_box :giveaway %>
            <%= f.label :giveaway %>
          </label>
          <%= error_span(@game[:giveaway]) %>
        </div>
      <br><br>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                games_path, :class => 'btn btn-default' %>
    
    <% end %>

    </div>
  <div class="col-md-2"></div>
</div>
