<% game.reviews.each do |review| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Review by <%= review.user.email %></h3>
     <div class="star-rating" data-score="<%= review.rating %>"></div>
    </div>
    <div class="panel-body">
      <p><%= review.content %></p>
    </div>
    <div class="panel-footer">
      	<time datetime="<%= review.created_at %>" title="<%= review.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
  	     <%= review.created_at.strftime("%H:%M %p") %>
  	    </time>
  	    <% if review.user == current_user %>
  	      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_game_review_path(review.game_id,review), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        game_review_path(review.game_id,review),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
  	    <% end %>
    </div>
  </div>
  <br>
<% end %>
<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      number: 10,
      score: function() {
      return $(this).attr('data-score');
    }
  });
</script>