<%- model_class = Game -%>
<div class="container">
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:genre_id) %></th>
        <th><%= model_class.human_attribute_name(:rating) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td class="col-md-2"><%= game.title %><br><br><%= link_to (image_tag game.image.url(:thumb), class: 'image'), game %></td>
          <td class="col-md-4"><%= game.description %></td>
          <td class="col-md-1"><%= game.genre.name %></td>
          <td class="col-md-1"><%= game.rating %></td>
          <td class="col-md-2">
            <% if game.user == current_user %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_game_path(game), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        game_path(game),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
            <% end %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                        game_path(game), :class => 'btn btn-success btn-xs' %>
                       
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if user_signed_in? %>
  <%= link_to "Submit New Game",
              new_game_path,
              :class => 'btn btn-primary btn-block' %>
  <% end %>  
<div>          
