<%- model_class = Game -%>
<div class="container">
	<div class="page-header">
	  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
	</div>
	<%= render :partial => 'form' %>
</div>
