<%- model_class = Game -%>
<div class="container">
  <div class="page-header">
    <h1><%= @game.title %></h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="row">
       <div class="col-md-6 col-sm-2">
         
              <strong><font color="#428bca" size="5" >Reviews:</font></strong>
              <font color="#d9534f" size="5" ><%= @game.reviews.count %></font>
         
       </div>
        <div class="col-md-6 col-sm-3">
          <canvas id="myChart" width="150" height="150">
        </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div>
        <font face="verdana" size="4">
        <% if @game.for_sale %>
            <span class="label label-primary">for sale</span>
        <% end %>
         <% if @game.for_rent %>
            <span class="label label-success">for rent</span>
        <% end %>
        <% if @game.giveaway %>
            <span class="label label-danger">giveaway</span>
        <% end %> 
        </font>
      </div> 
    </div> 
    <div class="col-md-4 col-sm-4">
      <div class="pull-right">
          <%= link_to t('.back', :default => t("helpers.links.back")),
                        games_path, :class => 'btn btn-default'  %>
          <% if @game.user == current_user %>             
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_game_path(@game), :class => 'btn btn-default' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        game_path(@game),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>
          <% end %>
      </div>
    </div>

  </div>

  <br>
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
    <dd><%= image_tag @game.image.url(:medium) %></dd><br>
    <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
    <dd><%= @game.title %></dd>
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= @game.description %></dd>
    <dt><strong><%= model_class.human_attribute_name(:genre_id) %>:</strong></dt>
    <dd><%= @game.genre.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
    <dd><%= @game.rating %></dd>
    <dt><strong>Submitted by:</strong></dt>
    <dd><%= @game.user.email %></dd>
  </dl>

  <div class="page-header">
    <h1><%=t '.title', :default => "Reviews" %></h1>
          <% if user_signed_in? %>
          <%= link_to "Write Review",
                new_game_review_path(@game),
                :class => 'btn btn-primary' %>
          <% end %>      
  </div>
</div>
<div class="container">
  <%= render partial: 'games/review', locals: {game: @game} %>
</div>

<script>

$(document).ready(drawChart());
  
function drawChart(){
  
  var data = [
     {
					value: <%= avg_rating(@game) %>,
					<% if avg_rating(@game) > 9.5  %>
					  color:"#d9534f"
					<% else %>
					  color:"#428bca"
					<% end %>
					 
				

    },
    
    {
        value: 10 - <%= avg_rating(@game) %>,
        color: "#d3d3d3"
      
       
    }
    
    ];

    var options = {
        animation: true,
        showTooltips: false,
        //Boolean - Whether we should show a stroke on each segment
      	segmentShowStroke : true,
      	
      	//String - The colour of each segment stroke
        segmentStrokeColor : "#fff",
      	
      	//Number - The width of each segment stroke
      	segmentStrokeWidth : 2,
      	
      	//The percentage of the chart that we cut out of the middle.
      	percentageInnerCutout : 75,
      	
      	//Boolean - Whether we should animate the chart	
      	animation : true,
      	
      	//Number - Amount of animation steps
      	animationSteps : 100,
      	
      	//String - Animation easing effect
      	animationEasing : "easeOutBounce",
      	
      	//Boolean - Whether we animate the rotation of the Doughnut
      	animateRotate : true,
      
      	//Boolean - Whether we animate scaling the Doughnut from the centre
      	animateScale : true,
      	
      	//Function - Will fire on animation completion.
      	onAnimationComplete : function(){
      	  var c=document.getElementById("myChart");
          var ctx=c.getContext("2d");
          ctx.textAlign = "center";
          ctx.textBaseline="middle";
          ctx.fillStyle = '#428bca';
          ctx.font ="bold 32px Verdana";
      	  ctx.fillText(data[0].value, 75, 75, 200);
      	}
  };

    var ctx = document.getElementById("myChart").getContext("2d");
     
    // var myDoughnutChart = new Chart(ctx).Doughnut(data, {
    //         onAnimationComplete: function() {
    //         ctx.fillText(data[0].value);
    //   }
    // });
    
	    var myDoughnutChart = new Chart(ctx).Doughnut(data, options);
  }	
	
</script>