<div class="container">
  <%= form_for ([@game,@review]), :html => { :class => "form-horizontal review" } do |f| %>

      <% if @review.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="control-group">
      <%= f.label :rating, :class => 'control-label' %>
      <div class="controls">
       <div id="star-rating"></div>
      </div>
      <%= error_span(@review[:rating]) %>
    </div>
    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :class => 'form-control', rows: 6 %>
      </div>
      <%= error_span(@review[:content]) %>
    </div>

    <br><br>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              game_path(@game), :class => 'btn btn-default' %>

  <% end %>
</div>
<script>
  $('#star-rating').raty({
    path: '/assets',
    number: 10,
    scoreName: 'review[rating]'
  });
</script>